#mi_carrito {
  position: fixed;

  display: inline-block;
  top: 35%;
  right: 20px;
  color: #fff;
  z-index: 5000;
  #ir_carr {
    width: 100%;
    a {
      text-decoration: none;
      background-color: #f00;
      display: inline-block;
      padding: 10px;
      -moz-box-shadow: 3px 3px 5px #000000;
      -webkit-box-shadow: 3px 3px 5px #000000;
      box-shadow: 3px 3px 5px #000000;

      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      span {
        color: #fff;
        font-size: 34px;
      }
    }
    a:hover {
      background-color: #d00;
      -moz-box-shadow: 2px 2px 5px #000000;
      -webkit-box-shadow: 2px 2px 5px #000000;
      box-shadow: 2px 2px 5px #000000;
      span {
      }
    }
  }
}

.div_ver_c {
  position: absolute;
  width: 40%;
  height: auto;
  margin-top: 70px;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  padding: 20px;
  border: none 5px #000000;
  -moz-border-radius-topleft: 17px;
  -moz-border-radius-topright: 17px;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-bottomright: 17px;
  -webkit-border-top-left-radius: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -webkit-border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  -moz-box-shadow: 10px 10px 5px #000000;
  -webkit-box-shadow: 10px 10px 5px #000000;
  box-shadow: 10px 10px 5px #000000;
}

.quitar,
.agregar {
  width: 100%;
}

.vervalor {
  width: 100%;
}

@media screen and (max-width: 992px) {
}
