#mayorista {
  color: #2f2f2f;
}
/*====== SI NO ESTÁ FLOTANTE =================*/

/*====== SI ESTÁ FLOTANTE =================*/
.minmay_lat {
  #mayorista_minorista {
    padding: 10px;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    center {
      button {
        background-color: #e00613;
        color: #fff;
        font-weight: 100;
        display: inline-block;
        border: none 0px #000000;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        -moz-box-shadow: 3px 3px 5px #000000;
        -webkit-box-shadow: 3px 3px 5px #000000;
        box-shadow: 3px 3px 5px #000000;
        i {
          font-size: 12px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      button:hover {
        background-color: #ff0000;
        color: #fff;
        font-weight: 100;
        display: inline-block;
        border: none 0px #000000;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        padding: 37px;

        -moz-box-shadow: 2px 2px 5px #000000;
        -webkit-box-shadow: 2px 2px 5px #000000;
        box-shadow: 2px 2px 5px #000000;
      }
    }
  }
  .mayorista_minorista {
    padding: 10px;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    center {
      button {
        background-color: #e00613;
        color: #fff;
        font-weight: 100;
        display: inline-block;
        border: none 0px #000000;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        -moz-box-shadow: 3px 3px 5px #000000;
        -webkit-box-shadow: 3px 3px 5px #000000;
        box-shadow: 3px 3px 5px #000000;
        i {
          font-size: 12px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      button:hover {
        background-color: #ff0000;
        color: #fff;
        font-weight: 100;
        display: inline-block;
        border: none 0px #000000;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        padding: 37px;

        -moz-box-shadow: 2px 2px 5px #000000;
        -webkit-box-shadow: 2px 2px 5px #000000;
        box-shadow: 2px 2px 5px #000000;
      }
    }
  }
}

#lateral_mm {
  position: fixed;
  width: 170px;
  display: inline-block;
  top: 23%;
  right: 0px;
  color: #fff;
  z-index: 5000;
  right: 20px;

  #mayorista_minorista {
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    center {
      button {
        background-color: #e00613;
        color: #fff;
        font-weight: 100;
        display: inline-block;
        border: none 0px #000000;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        -moz-box-shadow: 3px 3px 5px #000000;
        -webkit-box-shadow: 3px 3px 5px #000000;
        box-shadow: 3px 3px 5px #000000;
        i {
          font-size: 12px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      button:hover {
        background-color: #ff0000;
        color: #fff;
        font-weight: 100;
        display: inline-block;
        border: none 0px #000000;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        padding: 37px;

        -moz-box-shadow: 2px 2px 5px #000000;
        -webkit-box-shadow: 2px 2px 5px #000000;
        box-shadow: 2px 2px 5px #000000;
      }
    }
  }
}
