menu_todos {
}

.menu_a_t {
  font-size: 12px;
  color: #555;
  img {
    width: 90%;
  }
}

.menu_div_t {
  display: none;
}

/*
#cerrar_lateral, #menu_l{
    display:none;
}
*/
#menu_principal_over {
  display: none;
}

#menu_esclusivo,
#menu_lo_nuevo,
#menu_volvio_entrar,
#menu_diamond,
#menu_essencial,
#menu_jogger,
#menu_luxury,
#menu_sport_action {
  display: none;
}

#menu_lateral {
  position: fixed;
  width: 250px;
  display: inline-block;
  top: 3%;

  z-index: 5000;
}
.cristal {
  width: 100%;
  background-color: #2f2f2f;
  opacity: 0.25;
  height: 100%;
  position: absolute;
  top: 0px;
}

#menu_principal_over {
  position: absolute;
  top: 0px;
  width: 200%;
  background-color: #2f2f2f;
  z-index: 14;
  opacity: 1;
  .mi_lista_talle {
    a {
      background: #2f2f2f;
      color: #fff;
    }

    a:hover {
      background: #ff0000;
    }
  }
}

@media only screen and (min-width: 768px) {
  #menu_lateral {
    top: 20%;
  }
}
/*
@media only screen and (min-width: 768px) {

}*/
