.ocultar {
  display: none;
  background-color: red;
}

.ir_carrito_menu {
  span {
    i {
      color: #e00613;
      font-size: 25px;
      margin-top: 20px;
    }
    i:hover {
      color: #c00613;
      font-size: 25px;
      margin-top: 20px;
    }
  }
}

.todos_prod {
  color: $principal;
  font-size: 12px;
  color: #555;
}

.iconos_menu_s {
  color: #e00613;
}

.prod_dest {
  a {
    display: inline-block;

    text-decoration: none;
    color: lighten($negro, 40%);
    /*-moz-box-shadow: 2px 2px 5px lighten($negro, 30%);
    -webkit-box-shadow: 2px 2px 5px lighten($negro, 30%);
    box-shadow: 2px 2px 5px lighten($negro, 30%);*/
    img {
      width: 100%;
    }
  }
  a:hover {
    text-decoration: none;
    color: lighten($negro, 40%);
    /*-moz-box-shadow: 4px 4px 5px lighten($negro, 25%);
    -webkit-box-shadow: 4px 4px 5px lighten($negro, 25%);
    box-shadow: 4px 4px 5px lighten($negro, 25%);*/
    img {
      width: 100%;
    }
  }
}

#productos {
  #ruta_tienda {
    font-size: 20px;
    color: #888;
  }

  .card-body {
    .card-title {
      color: #555;
    }
    .card-text {
      color: #555;
    }
  }

  .prod_dest {
    border: none 5px #000000;
    -moz-border-radius-topleft: 22px;
    -moz-border-radius-topright: 22px;
    -moz-border-radius-bottomleft: 22px;
    -moz-border-radius-bottomright: 22px;
    -webkit-border-top-left-radius: 22px;
    -webkit-border-top-right-radius: 22px;
    -webkit-border-bottom-left-radius: 22px;
    -webkit-border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    a {
      border: none 5px #000000;
      -moz-border-radius-topleft: 22px;
      -moz-border-radius-topright: 22px;
      -moz-border-radius-bottomleft: 22px;
      -moz-border-radius-bottomright: 22px;
      -webkit-border-top-left-radius: 22px;
      -webkit-border-top-right-radius: 22px;
      -webkit-border-bottom-left-radius: 22px;
      -webkit-border-bottom-right-radius: 22px;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;
      .bg-image {
        img {
          border: none 5px #000000;
          -moz-border-radius-topleft: 22px;
          -moz-border-radius-topright: 22px;
          -moz-border-radius-bottomleft: 22px;
          -moz-border-radius-bottomright: 22px;
          -webkit-border-top-left-radius: 22px;
          -webkit-border-top-right-radius: 22px;
          -webkit-border-bottom-left-radius: 22px;
          -webkit-border-bottom-right-radius: 22px;
          border-top-left-radius: 22px;
          border-top-right-radius: 22px;
          border-bottom-left-radius: 22px;
          border-bottom-right-radius: 22px;
        }
      }
    }
  }
}
.ver_talles,
.ver_cuidados {
  display: none;
}

/* Style the button and place it in the middle of the container/image */
.mi_contenedor_imagen .mi_quick_view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.mi_contenedor_imagen .mi_quick_view:hover {
  background-color: #555;
}

.mi_contenedor_imagen .mi_whatsapp {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 22px;
  background-color: #fff;
  color: rgb(22, 126, 95);
  border-radius: 50%;
  a {
    text-decoration: none;
    i {
      color: rgb(6, 201, 6);
    }
  }

  /*
    

    transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);

    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display:none;*/
}

.nombre_precio_img {
  position: absolute;   
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  color: #f0f0f0;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  //background-color: #222;
  opacity: 0.7;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), #222);
  .nombre_precio_img2 {
    //background-color: rgb(161, 85, 233);
    hr {
      background-color: #fff;
      padding: 0px;
      margin: 0px;
    }
  }
}

.mi_contenedor_imagen .mi_whatsapp:hover {
  //background-color: #555;
}

.img-zoom-container {
  position: relative;
  .img-zoom-lens {
    position: absolute;
  }

  .img-zoom-result {
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
}

.color_muestra {
  border: none 5px #000000;
  -moz-border-radius-topleft: 17px;
  -moz-border-radius-topright: 17px;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-bottomright: 17px;
  -webkit-border-top-left-radius: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -webkit-border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  -moz-box-shadow: 2px 2px 5px #000000;
  -webkit-box-shadow: 2px 2px 5px #000000;
  box-shadow: 2px 2px 5px #000000;
}
.div_ver {
  position: absolute;
  width: 75%;
  height: auto;
  margin-top: 45px;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  padding: 20px;
  border: none 5px #000000;
  -moz-border-radius-topleft: 17px;
  -moz-border-radius-topright: 17px;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-bottomright: 17px;
  -webkit-border-top-left-radius: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -webkit-border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  -moz-box-shadow: 10px 10px 5px #000000;
  -webkit-box-shadow: 10px 10px 5px #000000;
  box-shadow: 10px 10px 5px #000000;
}
