.span_aut {
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
  height: 28px;
  display: flex;
  align-items: center;
  .i_aut {
    margin-top: 5px;
    height: 30px;
  }
}

input {
  padding-left: 45px;
}

#login,
#registro {
  .conten_log {
    background-color: transparent;

    .card {
      padding-left: 15px;
      padding-right: 15px;
      -moz-box-shadow: 6px 6px 5px #aeaeae;
      -webkit-box-shadow: 6px 6px 5px #aeaeae;
      box-shadow: 6px 6px 5px #aeaeae;
      border: none 5px #000000;
      -moz-border-radius-topleft: 43px;
      -moz-border-radius-topright: 43px;
      -moz-border-radius-bottomleft: 43px;
      -moz-border-radius-bottomright: 43px;
      -webkit-border-top-left-radius: 43px;
      -webkit-border-top-right-radius: 43px;
      -webkit-border-bottom-left-radius: 43px;
      -webkit-border-bottom-right-radius: 43px;
      border-top-left-radius: 43px;
      border-top-right-radius: 43px;
      border-bottom-left-radius: 43px;
      border-bottom-right-radius: 43px;

      .card-header {
        padding-top: 40px;
      }
      .card-header,
      .card-footer {
        border: 0px solid red;
        background-color: transparent;
        padding-bottom: 20px;
        a {
          color: red;
          font-size: 20px;
        }
      }

      .card-body {
        border: 0px solid red;
        span {
          border-right: 0px solid red;
          background-color: transparent;
          color: #aeaeae;
          -moz-border-radius-topleft: 22px;
          -moz-border-radius-bottomleft: 22px;
          -webkit-border-top-left-radius: 22px;
          -webkit-border-bottom-left-radius: 22px;
          border-top-left-radius: 22px;
          border-bottom-left-radius: 22px;
        }
        input {
          color: #aeaeae;
          border-left: 0px solid red;
          -moz-border-radius-topright: 22px;
          -moz-border-radius-bottomright: 22px;
          -webkit-border-top-right-radius: 22px;
          -webkit-border-bottom-right-radius: 22px;
          border-top-right-radius: 22px;
          border-bottom-right-radius: 22px;
        }
        button {
          width: 170px;
          -moz-border-radius-topleft: 14px;
          -moz-border-radius-topright: 14px;
          -moz-border-radius-bottomleft: 14px;
          -moz-border-radius-bottomright: 14px;
          -webkit-border-top-left-radius: 14px;
          -webkit-border-top-right-radius: 14px;
          -webkit-border-bottom-left-radius: 14px;
          -webkit-border-bottom-right-radius: 14px;
          border-top-left-radius: 14px;
          border-top-right-radius: 14px;
          border-bottom-left-radius: 14px;
          border-bottom-right-radius: 14px;
          background-color: red;
        }
        button:hover {
          background-color: #d00;
        }
      }

      .modal-title {
        font-size: 24px;
        font-weight: 500;
        color: #f00;
      }
    }
  }
}
