#pagar{
  display: none;
}



.checkout_form {
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-shadow: 6px 6px 5px #8e8e8e;
  -webkit-box-shadow: 6px 6px 5px #8e8e8e;
  box-shadow: 6px 6px 5px #8e8e8e;
  border: none 5px #000000;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  h3 {
    color: #f00;
  }
  #form {
    label {
      color: #8e8e8e;
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    #id_provincia {
      background-color: #fff;
    }

    #id_nombre,
    #id_apellido,
    #id_cuil_cuit,
    #id_documento,
    #id_clave,
    #id_provincia,
    #id_localidad,
    #id_domicilio,
    #id_codigo_postal,
    #id_telefono_fijo,
    #id_celular {
      width: 100%;
      border: solid 1px #aeaeae;
      color: #8e8e8e;
      -moz-border-radius-topleft: 22px;
      -moz-border-radius-topright: 22px;
      -moz-border-radius-bottomleft: 22px;
      -moz-border-radius-bottomright: 22px;
      -webkit-border-top-left-radius: 22px;
      -webkit-border-top-right-radius: 22px;
      -webkit-border-bottom-left-radius: 22px;
      -webkit-border-bottom-right-radius: 22px;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;
    }

    button {
      width: 170px;
      -moz-border-radius-topleft: 14px;
      -moz-border-radius-topright: 14px;
      -moz-border-radius-bottomleft: 14px;
      -moz-border-radius-bottomright: 14px;
      -webkit-border-top-left-radius: 14px;
      -webkit-border-top-right-radius: 14px;
      -webkit-border-bottom-left-radius: 14px;
      -webkit-border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      background-color: red;
    }
    button:hover {
      background-color: #d00;
    }
  }

  #form_envio {
    label {
      color: #8e8e8e;
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    #id_provincia {
      background-color: #fff;
    }

    #id_envio_nombre,
    #id_envio_apellido,
    #id_envio_cuil_cuit,
    #id_envio_documento,
    #id_clave,
    #id_envio_provincia,
    #id_envio_localidad,
    #id_envio_domicilio,
    #id_envio_codigo_postal,
    #id_envio_telefono_fijo,
    #id_envio_telefono,
    #id_envio_celular,
    #id_envio_mensaje {
      width: 100%;
      border: solid 1px #aeaeae;
      color: #8e8e8e;
      -moz-border-radius-topleft: 22px;
      -moz-border-radius-topright: 22px;
      -moz-border-radius-bottomleft: 22px;
      -moz-border-radius-bottomright: 22px;
      -webkit-border-top-left-radius: 22px;
      -webkit-border-top-right-radius: 22px;
      -webkit-border-bottom-left-radius: 22px;
      -webkit-border-bottom-right-radius: 22px;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;
    }
    #id_envio_mensaje {
      margin-bottom: 30px;
    }
    button {
      width: 170px;
      -moz-border-radius-topleft: 14px;
      -moz-border-radius-topright: 14px;
      -moz-border-radius-bottomleft: 14px;
      -moz-border-radius-bottomright: 14px;
      -webkit-border-top-left-radius: 14px;
      -webkit-border-top-right-radius: 14px;
      -webkit-border-bottom-left-radius: 14px;
      -webkit-border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      background-color: red;
    }
    button:hover {
      background-color: #d00;
    }
  }
}

.pedido_a_realizar {
  background-color: #e8e8e8;
  padding-top: 30px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-shadow: 6px 6px 5px #8e8e8e;
  -webkit-box-shadow: 6px 6px 5px #8e8e8e;
  box-shadow: 6px 6px 5px #8e8e8e;
}

#terminos_no_leidos {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f00;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 280px;
  height: 50px;
  display: none;
}

#error_nombre,
#error_apellido,
#error_cuil_cuit,
#error_provincia,
#error_ciudad,
#error_domicilio,
#error_codigo_postal,
#error_telefono_fijo,
#error_celular,
#error_envio_nombre,
#error_envio_apellido,
#error_envio_documento,
#error_envio_provincia,
#error_envio_localidad,
#error_envio_domicilio,
#error_envio_codigo_postal,
#error_envio_telefono,
#error_envio_celular,
#error_envio_mensaje {
  //position: absolute;
  //top: 110%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //-ms-transform: translate(-50%, -50%);
  background-color: #f00;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 280px;
  height: 25px;
  display: none;
  margin-left: 10px;
}
