/*.navbar-toggler-icon{
    background-color: $logo;
}*/

.men_cat_tit {
  background-color: #e4e4e4;
  padding-top: 0px;
  top: -220px;

  z-index: 4000;
  p {
    color: #aeaeae;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  hr {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: #aeaeae;
    padding-top: 2px;
    margin-bottom: 15px;
  }
  .men_cat_tit2 {
    a {
      text-decoration: none;
      color: #000;
      padding: 0px;
    }

    .fa-caret-right,
    .fa-caret-down {
      font-weight: 400;
      font-size: 18px;
      color: #c00613;
    }
    .fa-caret-down {
      display: none;
    }
  }
  .men_cat_tit2 {
    .si {
      display: none;
    }
  }

  .men_cat_tit2_desc {
    display: none;
  }
  .men_cat_tit3 {
    border-left: 2px solid #c4c4c4;
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        padding-top: 3px;
        padding-bottom: 3px;
        a {
          text-decoration: none;
          color: #000;
          padding: 0px;
        }
      }
    }
  }
}

.men_cat_talles {
  background-color: #e4e4e4;
  z-index: 4000;
  p {
    color: #aeaeae;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  hr {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: #aeaeae;
    padding-top: 2px;
    margin-bottom: 15px;
  }

  .mi_talle {
    font-size: 20px;
    background-color: #f0f0f0;

    a {
      text-decoration: none;
      display: inline-block;
      -moz-border-radius-topleft: 12px;
      -moz-border-radius-topright: 12px;
      -moz-border-radius-bottomleft: 12px;
      -moz-border-radius-bottomright: 12px;
      -webkit-border-top-left-radius: 12px;
      -webkit-border-top-right-radius: 12px;
      -webkit-border-bottom-left-radius: 12px;
      -webkit-border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      -moz-box-shadow: 2px 2px 7px #667;
      -webkit-box-shadow: 2px 2px 7px #667;
      box-shadow: 2px 2px 7px #667;
      padding: 7px 14px;
      width: 100%;
      height: 100%;
      color: #000;
    }
    a:hover {
      background-color: #e4e4e4;
      color: #400;
      -moz-box-shadow: 2px 2px 7px #777;
      -webkit-box-shadow: 2px 2px 7px #777;
      box-shadow: 2px 2px 7px #777;
    }
  }
}

.men_cat_colores {
  background-color: #e4e4e4;
  z-index: 4000;
  p {
    color: #aeaeae;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  hr {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: #aeaeae;
    padding-top: 2px;
    margin-bottom: 15px;
  }

  .mi_color {
    font-size: 20px;
    background-color: #f0f0f0;

    a {
      text-decoration: none;
      display: inline-block;
      -moz-border-radius-topleft: 12px;
      -moz-border-radius-topright: 12px;
      -moz-border-radius-bottomleft: 12px;
      -moz-border-radius-bottomright: 12px;
      -webkit-border-top-left-radius: 12px;
      -webkit-border-top-right-radius: 12px;
      -webkit-border-bottom-left-radius: 12px;
      -webkit-border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      -moz-box-shadow: 2px 2px 7px #667;
      -webkit-box-shadow: 2px 2px 7px #667;
      box-shadow: 2px 2px 7px #667;
      padding: 7px 18px;
      width: 100%;
      height: 100%;
      color: #000;
    }
    a:hover {
      background-color: #e4e4e4;
      color: #400;
      -moz-box-shadow: 2px 2px 7px #777;
      -webkit-box-shadow: 2px 2px 7px #777;
      box-shadow: 2px 2px 7px #777;
    }
  }
}

.men_cat_colores {
  background-color: #e4e4e4;
  z-index: 4000;
  p {
    color: #aeaeae;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  hr {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: #aeaeae;
    padding-top: 2px;
    margin-bottom: 15px;
  }
}

.men_talle_tipo {
  a {
    text-decoration: none;
    color: #aeaeae;
    font-size: 20px;
  }
}

.men_talle_nom {
  span {
    font-weight: 400;
    color: #aeaeae;
    font-size: 20px;
  }

  hr {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: #aeaeae;
    padding-top: 2px;
  }
}

.men_talle {
  width: 40px;
  height: 40px;
  border: none 5px #000000;
  margin: 5px;
  background-color: #f0f0f0;

  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  -moz-box-shadow: 2px 2px 7px #667;
  -webkit-box-shadow: 2px 2px 7px #667;
  box-shadow: 2px 2px 7px #667;
  a {
    text-decoration: none;

    center {
      font-size: 20px;
      color: #000;
      font-weight: 500;
    }
  }
}

.menui3 {
  a {
    i {
      color: #fff;
      font-size: 24px;
      padding-top: 20px;
    }
    text-decoration: none;
  }
  a:hover {
    i {
      color: #f0f0f0;
    }
    font-weight: bold;
    text-decoration: underline;
  }
}

.menui4 {
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #c00613;
    font-weight: bold;
    text-decoration: underline;
  }
}

.menu3 {
  a {
    i {
      color: #e00613;
      font-size: 24px;
      padding-top: 20px;
    }
    text-decoration: none;
  }
  a:hover {
    i {
      color: #c00613;
    }
    font-weight: bold;
    text-decoration: underline;
  }
}

.menu4 {
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #e00613;
    font-weight: bold;
    text-decoration: underline;
  }
}

.mi_lista_menu1 {
  a {
    text-decoration: none;
    background-color: transparent;
    i {
      color: #ffffff;
    }
  }
  a:hover {
    i {
      color: #f0f0f0;
    }

    //background-color:$secundario;
  }
}
/*=========== para el menú de la tienda ==========*/
.mi_lista_menu1t {
  a {
    text-decoration: none;
    background-color: transparent;
    i {
      color: #e00613;
    }
  }
  a:hover {
    i {
      color: #fc2652;
    }

    //background-color:$secundario;
  }
}

.navbar {
  .mi_lista_menu2 {
    li {
      a {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
      }
      a:hover {
        background-color: #fc2652;
        //background-color:$secundario;
      }
    }
  }
  /*=========== para el menú de la tienda ==========*/
  .mi_lista_menu2t {
    li {
      a {
        color: #000;
        text-decoration: none;
        background-color: transparent;
        border: 0px solid #e00613;
      }
      a:hover {
        color: #e00613;
        font-weight: bold;
        //text-decoration: underline #e00613;
        border-bottom: 3px solid #e00613;
        //background-color:$secundario;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .men_cat_tit {
    background-color: #e4e4e4;
    padding-top: 180px;
    top: -220px;
  }
}
